html {
  font-family: 'Courier New', serif;
}

.header {
  background-color: #fff;
  color: #000;
  width: 100%;
  position: absolute;
  top: 0;
  height: 20px;
}

.content {
  background-color: #000;
  width: 100%;
  height: 100vh;
  color: #fff;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px 30px 70px 30px;
}

.container {
  width: 100%;
}

.element {
  padding-bottom: 8px;
}

.prompt {
  display: flex;
  justify-content: center;
  color: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
}

.prompt input {
  width: 70%;
  height: 100%;
  border: 0;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}

.hidden {
  visibility: hidden;
}

.hud-bottom {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
  box-sizing: border-box;
  border-top: solid 3px #fff;
}

.hud-bottom-left {
  width: 15%;
  height: 100%;
  float: left;
}

.hud-bottom-right {
  width: 15%;
  height: 100%;
  float: right;
}

.energy,
.life {
  width: 50%;
  height: 100%;
  background-color: #ff6347;
  box-sizing: border-box;
  border-right: solid 2px #333;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.energy {
  border-right: 0;
  border-left: solid 2px #333;
  background-color: #6496c8;
  float: right;
}

.hud-bottom-center {
  width: 70%;
  height: 30px;
  margin-left: 15%;
  box-sizing: border-box;
  line-height: 30px;
  padding: 0 5px;
  display: flex;
  justify-content: space-around;
}

/*
* OUTPUT STYLES
*/
/* Class colors */
.Warrior {
  color: #f00;
}

.Ranger {
 color: #0c0;
}

.Mage {
  color: #0ff;
}

/* Messages */
.error {
  font-size: 13px;
  font-style: italic;
  color: #f00;
}

.whisper {
  font-style: italic;
  color: #f0f;
}

.room-title {
  font-weight: bold;
  color: #ffe39f;
  margin-top: 20px;
}

.room-description {
  font-style: italic;
}

.room-exits {
  font-size: 13px;
}

.who {
  margin-top: 20px;
}

.char-connected {
  font-size: 13px;
  font-style: italic;
  color: #0ff;
}