html {
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

select {
  width: 380px;
}

.home-content {
  background-color: #fff;
  position: absolute;
  top: 100vh;
  width: 100%;
}

.content {
  margin: 20px auto 50px auto;
  width: 70%;
}

.content p {
  padding-bottom: 1em;
  line-height: 1.7em;
  font-size: 100%;
  margin: 0;
}

.grid-flex-start,
.grid-flex-end,
.grid-space-around {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 1em;
  align-items: center;
}

.grid-space-around {
  justify-content: space-around;
}

.grid-flex-start {
  justify-content: flex-start;
}

.grid-flex-end {
  justify-content: flex-end;
}

.error {
  color: #d00;
}

.success {
  color: #0d0;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 23px;
}

.hr-gradient {
  border: none;
  margin-top: -1px;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

.full-header {
  background: url('../images/bg_1_1080-blur.jpg') center/cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.logo-2 {
  position: absolute;
  font-family: 'Roboto Slab', serif;
  font-size: 6vw;
  color: #fff;
  top: 50vh;
  margin-top: -5vw;
  margin-left: 20%;
  text-shadow: 3px 3px 5px #000;
}

.logo-text {
  position: absolute;
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  font-size: 2vw;
  color: #fff;
  top: 66vh;
  left: 29%;
  margin-top: -1vw;
}

/*
LOGIN
*/
.login-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 100vh;
  background: url('../images/bg_1_1080.jpg') center/cover;
}

.login-logo {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

.buttons {
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #6496c8;
}

/*
HEADER
*/
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}

.navbar a {
  text-decoration: none;
  margin-right: 15px;
  color: #fff;
}

.navbar { 
  line-height: 23px;
  font-weight: 500;
  font-size: 85%;
  margin: 15px 0;
}

.subnav a:hover {
  border-bottom: solid 6px #6496c8;
}

.a-selected {
  border-bottom: solid 6px #6496c8;
}

.header-content {
  border-top: solid 6px #6496c8;
  border-bottom:solid 1px #f2f2f2;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  color: #000;
}

.header-content .navbar a {
  color: #000;
}

.header-content .logo {
  color: #000;
}

/*
REGISTER
*/
.register {
  height: 526px;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
  text-align: center;
}

.login {
  height: 400px;
}

.register p {
  margin: 4%;
}

.register-form {
  margin-top: 10px;
}

/*
PROFILE
*/
.back,
.add-char {
  display: flex;
  align-items: center;
  height: 32px;
  color: #000;
  padding-left: 35px;
}

.add-char {
  background: transparent url('/images/plus.png') no-repeat left center;
  background-size: 32px;
}

.back {
  background: transparent url('/images/arrow-left.png') no-repeat left center;
  background-size: 32px;
}

.image-link {
  cursor: pointer;
  box-sizing: border-box;
}

.selected-border {
  outline: solid 10px #66cd00;
  outline-offset: -10px;
}

.selected-race,
.selected-class,
.selected-gender {
  width: 64px;
}

#char-name {
  width: 200px;
}

.char-frame {
  display: flex;
  height: 60px;
  min-width: 400px;
  border-radius: 10px;
}

.char-frame-warrior {
  border: 2px solid red;
}

.char-frame-mage {
  border: 2px solid blue;
}

.char-frame-ranger {
  border: 2px solid green;
}

.char-frame-rogue {
  border: 2px solid yellow;
}

/*
ADMIN
*/
.text {
  width: 380px;
}

textarea {
  resize: none;
  width: 374px;
  height: 100px;
}

#rooms-nodes {
  border: 1px solid #ddd;
  width: 100%;
  height: 500px;
}

.floor {
  margin-bottom: 20px;
}

.floor-select {
  width: 50px;
}

.content .navbar a {
  color: #000;
}

/*
SECTIONS
*/
.home-content {
  width: 100%;
}

.home-content section {
  height: 90vh;
}

.section-1 {
  background-color: #fff;
  color: #000;
  font-size: 120%;
}

.section-2 {
  color: #fff;
  background: url('../images/bg_1_1080-blur.jpg') center/cover;
  background-attachment: fixed;
}

.section-2 img {
  width: 25vh;
}

.footer {
  box-shadow: 0 -3px 5px black; 
  height: 20vh;
  background-color: #eef4ed;
}

.text-block {
  width: 500px; 
}

.race-grid {
  list-style-type: none;
}

/*
OTHER STYLES
*/
input {
  color: #000;
  display: block;
  margin: 0 0 10px;
  width: 100%;
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  box-sizing: border-box;
}

input :focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}

ul.input-list li {
  display: block;
  padding: 0 10px;
  width: 50%;
  float: left;
}

.style-1 input {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input:focus, .style-1 input.focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* button style */
button {
  display: inline-block;
  padding: 7px 30px;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button.small {
  line-height: 1;
}

button:focus {
  outline: none;
}

section.flat {
  width: 100;
  text-align: center;
}

section.flat button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

section.flat button:hover,
section.flat button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

section.flat button:active,
section.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.g-recaptcha {
  margin-bottom: 10px;
}

.nomargin-bottom {
  margin-bottom: 0;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.small-link {
  color: #000;
  font-size: 13px;
}

.small-text {
  font-size: 13px;
}

.span-link {
  color: #6496c8;
  cursor: pointer;
}
