html {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.content {
  margin: 150px auto 0 auto;
  width: 70%;
}

.content p {
  padding-bottom: 1em;
  line-height: 1.7em;
  font-size: 100%;
  margin: 0;
}

/*
LOGIN
*/
.login-content {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.login-logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
}

.buttons {
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: #6496c8;
}

/*
HEADER
*/
.header {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}

.header-container {
  width: 500px;
  margin: 15px auto;
  text-align: center;
}

.logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  color: #000;
  text-decoration: none;
}

.navbar a {
  color: #1e73be;
  text-decoration: none;
  margin: 0 15px;
}

.navbar { 
  line-height: 23px;
  font-weight: 500;
  font-size: 100%;
  margin: 15px 0;
}

/*
REGISTER
*/
.register {
  /*margin: auto;*/
  height: 526px;
  width: 355px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6496c8;
  box-sizing: border-box;
  padding: 2%;
  text-align: center;
}

.register p {
  margin: 4%;
}

.register-form {
  margin-top: 10px;
}

.register .error {
  color: #d00;
  font-size: 15px;
}

/*
OTHER STYLES
*/
input {
  display: block;
  margin: 0 0 10px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  box-sizing: border-box;
}

input :focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}

ul.input-list li {
  display: block;
  padding: 0 10px;
  width: 50%;
  float: left;
}

.style-1 input {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input:focus, .style-1 input.focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* button style */
button {
  display: inline-block;
  padding: 7px 30px;
  font-size: 25px;
  font-family: "Bitter", serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none;
}

section.flat {
  width: 100;
  text-align: center;
}

section.flat button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

section.flat button:hover,
section.flat button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

section.flat button:active,
section.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

.hidden {
  visibility: hidden;
}

.g-recaptcha {
  margin-bottom: 10px;
}
