doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cherry+Cream+Soda', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto', rel='stylesheet', type='text/css')
  
  body
    .admin-sidebar
      .admin-logo
        a.logo(href='/') TEARDROP

      .admin-menu
        if isLoggedIn
          a(href='/profile')
            img(src='/images/user-admin.png')
            span= user._id
          div
            a(href='/logout')
              img(src='/images/arrow-right.png')
              span Logout

        hr

        div
          a(href='/admin/areas')
            img(src='/images/picture.png')
            span Areas
        div
          a(href='/admin/users')
            img(src='/images/users.png')
            span Users

    .admin-content
      block content

    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/underscore/underscore-min.js')
    script(type='text/javascript', src='/javascripts/sigmajs/sigma.min.js')
    script(type='text/javascript', src='/javascripts/validation.js')
    script(type='text/javascript', src='/javascripts/area.js')
