extends adminLayout

block content
  .admin-page-title
    img(src='/images/picture.png')
    span Areas

  if (areas && areas.length)
    .grid-space-around.areas-grid
      ul.areas-header
        li.left Name
        li.right Action
      ul.areas
        each area in areas
          .row
            li.left
              span= area.name
            li.right
              a(href='/admin/editarea/#{area._id}') Edit &nbsp;
              span |
              a(href='#') &nbsp; Delete
            br

  .grid-space-around
    a.add-char(href='/admin/newarea') Create new area
