extends adminLayout

block content
  .grid-space-around
    a.add-char(href='/admin/newarea') Create new area

  if (areas && areas.length)
    each area in areas
      .glid-flex-start
        a(href='/admin/editarea/#{area._id}') Edit &nbsp;
        span |
        a(href='#') &nbsp; Delete &nbsp;
        span= area.name
