extends adminLayout

block content
  .grid-space-around
    if message && message.length > 0
      span.error= message
    else
      span.error.hidden Placeholder

  h2 New area:

  form#area-info(method='post', action='/admin/newarea')
    .grid-flex-start.nomargin-bottom
      span Name
    .grid-flex-start
      input.text(type='text', name='areaName')

    .grid-flex-start.nomargin-bottom
      span Description
    .grid-flex-start
      textarea(name='areaDescription')

    .grid-flex-start
      .buttons
        section.flat
          button#newarea-button.small(type='submit') Create

      .buttons.margin-left-15
        section.flat
            button.area-cancel.small Cancel
