extends ../layout

block content
  nav.navbar.subnav
    a.a-selected(href='/admin/areas') AREAS
    a(href='/admin/users') USERS

  hr

  .grid-space-around
    if message && message.length > 0
      span.error= message
    else
      span.error.hidden Placeholder

  h2 New area:

  form#area-info(method='post', action='/admin/newarea')
    .grid-flex-start.nomargin-bottom
      span Name
    .grid-flex-start
      input.text(type='text', name='areaName')

    .grid-flex-start.nomargin-bottom
      span Description
    .grid-flex-start
      textarea(name='areaDescription')

    .grid-flex-start
      .buttons
        section.flat
          button#newarea-button(type='submit') Create
