extends ../layout

block content
  nav.navbar.subnav
    a(href='/admin/areas') AREAS
    a(href='/admin/users') USERS

  hr

  h2 New area:

  form(method='post', action='/admin/newarea')
    .grid-flex-start.nomargin-bottom
      span Identifier
    .grid-flex-start
      input.text(type='text', name='areaIdentifier')

    .grid-flex-start.nomargin-bottom
      span Name
    .grid-flex-start
      input.text(type='text', name='areaName')

    .grid-flex-start.nomargin-bottom
      span Description
    .grid-flex-start
      textarea(name='areaDescription')

    .grid-flex-start
      .buttons
        section.flat
          button#newarea-button(type='submit') Create
