extends ../layout

block content
  form(method='post', action='/admin/newarea')
    .grid-flex-start.nomargin-bottom
      span Area name
    .grid-flex-start
      input.text(type='text', name='area-name')

    .grid-flex-start.nomargin-bottom
      span Description
    .grid-flex-start
      textarea(name='area-description')

    .grid-flex-start
      .buttons
        section.flat
          button#newarea-button(type='submit') Create
