extends adminLayout

block content
  h2= area.name

  nav.navbar.subnav
    a#area-info-link(href='/admin/editarea/#{area._id}') Area info
    a#area-rooms-link.a-selected(href='#') Rooms
    a#area-units-link(href='#') Units
    a#area-items-link(href='#') Items

  hr

  input#areaId(type='hidden', value='#{area._id}')

  .room-options.display-none
    .grid-space-around
      span What do you want to do?
    .grid-space-around
      a#editRoomInfo(href='#') Edit info
      a#addRoomExit(href='#') Add exit
      a#deleteRoom(href='#') Delete
      a#cancelRoomEdit(href='#') Nothing

  #roomInfo.grid-space-around.display-none(style='align-items: flex-start')
    .grid-cell
      .grid-flex-start.nomargin-bottom
        span Title
      .grid-flex-start
        input#roomTitle.text(type='text')

      .grid-flex-start.nomargin-bottom
        span Description
      .grid-flex-start
        textarea#roomDescription

    .grid-cell
      .grid-flex-start.nomargin-bottom
        span Floor
      .grid-flex-start
        input#roomFloor.text(type='text', disabled)

      .grid-flex-start.nomargin-bottom

    .grid-cell
      .grid-flex-end
        .buttons
          section.flat
            button#editroom-button.small Save

        .buttons.margin-left-15
          section.flat
            button#cancel-editroom-button.small Cancel

  #rooms-nodes