doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto', rel='stylesheet', type='text/css')
  body
    .header
      nav.navbar.navbar-left
        if isLoggedIn
          a(href='/play') PLAY
        a(href='/game-guide') GAME GUIDE
      a.logo(href='/') TEARDROP
      nav.navbar.navbar-right
        if isLoggedIn
          a(href='/profile') PROFILE (#{user._id})
          a(href='/logout') LOGOUT
        else
          a(id='log-in', href='/login') LOG IN
          a(id='log-in', href='/signup') REGISTER

    .full-header
      .logo-2.hidden
        span.noselect Teardrop
      .logo-text.hidden
          span Brief description about the game

    .home-content
      section(class='section-1')
        .grid-space-around
          .grid-cell.text-block
            h1 Explore!
            p.
              Teardrop is an Online RPG, based on the MUD style. Here, you can
              adventure through valleys, explore dungeons, and face the bravest
              of the enemies. Level up your character, gather equipment, master
              the spells and abilities, and become the strongest of them all!

          .grid-cell
            img(src='/images/elf-mage-1.png')
      section(class='section-2')
        .grid-space-around
          .grid-cell
            ul.race-grid
              li
                img(src='/images/characters/elf.png')
                img(src='/images/characters/human.png')
              li
                img(src='/images/characters/dwarf.png')
                img(src='/images/characters/orc.png')
          .grid-cell
            h1 Choose between several races!

      .footer
        .footer-logo
          p Teardrop
        .footer-links
          a(href='https://en.wikipedia.org/?title=MUD') What is MUD? &nbsp; - &nbsp;
          a(href='https://github.com/sschezar/Mud') github

          p
            span Hosted by &nbsp;
            a(href='http://www.digitalocean.com') Digital Ocean

    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/underscore/underscore-min.js')
    script(type='text/javascript', src='/javascripts/jquery.visible.min.js')
    script(type='text/javascript', src='/javascripts/wow.min.js')
    script(type='text/javascript', src='/javascripts/validation.js')
    script(type='text/javascript', src='/javascripts/cookie.js')
    script(type='text/javascript', src='/javascripts/newchar.js')
    script(type='text/javascript', src='/javascripts/home.js')
    script(src='https://www.google.com/recaptcha/api.js')
