doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz', rel='stylesheet', type='text/css')
  body()
    div(class='header')
      div.header-container
        a.logo(href='/') SS MUD
        nav.navbar
          a(href='/play') Play
          if isLoggedIn
            a(href='/profile') Profile
            a(href='/logout') Logout
          else
            a(id='log-in', href='/login') Log in
            a(id='log-in', href='/signup') Register
    div.content
      block content
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/javascripts/validation.js')
    script(type='text/javascript', src='/javascripts/cookie.js')
    script(type='text/javascript', src='/javascripts/newchar.js')
    script(src='https://www.google.com/recaptcha/api.js')
