doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/socket.io.js')
    script(type='text/javascript', src='/javascripts/client.js')
  body()
    div(id='header', class='header')
    div(id='content', class='content')
      block content
    div(id='prompt', class='prompt')
      input(id='prompt_input', type='text', autofocus)
    
    script(type='text/javascript').
      var client = new MudClient();
      client.init();
