doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body()
    div(class='header')
      nav(class='navbar left-navbar')
        a(href='play') Play
      nav(class='navbar right-navbar')
        if isLoggedIn
          a(href='profile') Account
          a(href='logout') Logout
        else
          a(id='log-in', href='login') Log in
          a(id='log-in', href='signup') Register
    div.content
      block content
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/javascripts/validation.js')
    script(src='https://www.google.com/recaptcha/api.js')
