doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body()
    div(class='header')
      nav(class='navbar left-navbar')
        a(href='mud') Play
        a(href='about') About
      nav(class='navbar right-navbar')
        a(href='account') Account
        a(id='log-in', href='signin') Log in
        a(id='log-in', href='signup') Register
    block content
