doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='header', class='header')
    div(id='content', class='content')
      block content
    div(id='prompt', class='prompt')
