extends layout

block content
  div(class='register')
    if message.length > 0
      span.error= message
    else
      span.error.hidden
    form(class='register-form' method='post', action='/login')
      div
        ul(class="input-list style-1 clearfix")
          input(type="text", id="si-username" placeholder="username", name="username")
          input(type="password", id="si-passwd" placeholder="password", name="password")

        div(class='buttons')
          section(class='flat')
            button(id='login-button', type='submit') Sign in!
