extends loginLayout

block content
  .register.login
    p.login-logo SS MUD
    if message && message.length > 0
      span.error= message
    else
      span.error.hidden Placeholder
    form.register-form(method='post', action='/login')
      div
        ul.input-list.style-1.clearfix
          input(type="text", id="si-username" placeholder="username", name="username")
          input(type="password", id="si-passwd" placeholder="password", name="password")

        .buttons
          section.flat
            button(id='login-button', type='submit') Sign in!
        span No account? &nbsp;
        a(href='/signup') Sign up!
