doctype html
html
  head
    title MUD
    link(rel='stylesheet', href='/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/mud.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100', rel='stylesheet', type='text/css')
  body()
    #content.content
      .scroll-filler
      #container.container

    .hud-bottom.hidden
      .hud-bottom-left
        .life
          span#player-life
        .energy
          span#player-energy
      .hud-bottom-right.hidden
        .life
          span#target-life
        .energy
          span#target-energy
      .hud-bottom-center
        span#char-name
        span#next-lvl
        span#area
    #prompt.prompt
      input#prompt_input(type='text', autofocus)
    
    input#user-id(type='hidden', value=user)

    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/underscore/underscore-min.js')
    script(type='text/javascript', src='/socket.io.js')
    script(type='text/javascript', src='/javascripts/playerStatus.js')
    script(type='text/javascript', src='/javascripts/commands.js')  
    script(type='text/javascript', src='/javascripts/client.js')
    script(type='text/javascript', src='/javascripts/events.js')
    script(type='text/javascript', src='/javascripts/init.js')
