extends layout

block content
  div(class='register')
    ul(class="input-list style-1 clearfix")
      input(type="text" placeholder="username")
      input(type="text" placeholder="e-mail")
      input(type="text" placeholder="password")
      input(type="text" placeholder="retype password")
    
    div(class='buttons')
      section(class='flat')
        button Sign up!
