body {
	margin: 0;
	background:#f4f4f4 url(../resources/body.gif)
}

.header {
	margin: 0 auto;
	padding: 0;
	width: 900px;
	background-color: #666;
  font: 15px Monaco;
}

.header h1 {
  margin: 0;
  padding-left: 5px;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  height: 600px;
  background-color: #000;
  font: 12px Monaco;
  color: #fff;
  overflow: auto;
  position: relative;
}

#wrapper #board {
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
  position: absolute;
  left: 0;
  height: auto;
}

#wrapper #topAdjust {
  height: 600px;
}

.promptContainer {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  height: 30px;
  background-color: #fff;
  font: 14px Monaco;
}

.prompt {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: green;
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  float: left;
  border-bottom-left-radius: 5px;
}

.input {
  background-color: #000;
  border: 0;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 880px;
  line-height: 30px;
  text-align: left;
  display: block;
  float: left;
  font: 11px Monaco;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.input:focus {
  outline: 0;
}